﻿
@*@{
    ViewBag.Title = "_employeeLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li>
            @Html.ActionLink(@User.Identity.Name, "", "")
        </li>
        <li>
            @Html.ActionLink("Logoff", "Logout", "Account")
        </li>

    }
    else
    {
        <li>
            @Html.ActionLink("Employee Login", "Index", "Account")
        </li>
    }
</ul>
@*@RenderBody()*@