﻿@model WebAppQuiz.ViewModel.QuizQuestionAnswerViewModel

<style type="text/css">

    fieldset {
        font-family: sans-serif;
        border: 3px solid #1F497d;
        background: #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-top: 100px;
        margin-left: 250px;
        margin-right: 250px;
    }

        fieldset legend {
            background: #1F497d;
            color: #fff;
            padding: 5px 10px 10px 20px;
            font-size: 15px;
            border-radius: 5px;
            box-shadow: 0 0 0 5px #ddd;
            margin-left: 1px;
            margin-right: 10px;
        }
</style>

@Html.HiddenFor(model=>model.QuestionId)

<fieldset>
    <legend> @Model.QuestionName</legend>
    <table style="width:100%" class="table table-condensed">
       @foreach ( var item in Model.ListOfQuizOptions)
       {
           <tr>
               <td>
                   @Html.RadioButtonFor(model=> model.OptionId,@item.OptionName) @item.OptionName
               </td>
           </tr>
       }
        <tr>
            <td>
                <input type="button" name="Next" value="Next" class="btn btn-success" />
            </td>
        </tr>
    </table>
</fieldset>