﻿@model WebAppQuiz.ViewModel.CategoryViewModel


@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAddOption").click(function () {
            AddOptionIntoList();
        });

        $("#btnSave").click(function () {
            SaveQuestionAndOption();
        });
    });

    function SaveQuestionAndOption() {
        if ($("#tblOption tr").length !== 4) { // !==
            alert("Şık sayısı 4 olmalıdır.");
            return false;
        }
        var answerText = "";
        var answerValid = undefined;
        $.each($("#tblOption tr"),
            function () {
                answerText = $(this).find("td:eq(0) input[type=radio]:checked").val();
                if (answerText !== undefined) {
                    answerValid = answerText;
                }
            });

        if (answerValid === undefined) {
            alert("Sorunun cevabını seçiniz");
            return false;
        }

        var ListOfOptions = [];
        var answerTextData = "";
        var QuestionOption = {};
        var OptionText = "";


        $.each($("#tblOption tr"),
            function () {
                answerText = $(this).find("td:eq(0) input[type=radio]:checked").val();
                OptionText = $(this).find("td:eq(0) input[type=radio]").val();
                if (answerText !== undefined) {
                    answerTextData = answerText;
                }
                ListOfOptions.push(OptionText);
            });

        QuestionOption.ListOfOptions = ListOfOptions; // burayı kontrol et.
        QuestionOption.AnswerText = answerTextData;
        QuestionOption.QuestionName = $("#txtQuestionName").val();
        QuestionOption.CategoryId = $("#ddCategoryId").val();

        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            data: JSON.stringify(QuestionOption),
            contentType:'application/json; charset=utf-8',
            url: '/Admin/Index',
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);
                    $("#txtQuestionName").val("");
                    $("#txtQuestionName").focus();
                    $("#txtOptionName").val("");
                    $("#tblOption tr").remove();
                    $("#ddCategoryId").val(1);
                } else {
                    alert(data.message);
                }
            },
            error: function () {
                alert('Bir hata oluştu');
            }
        });
    }

    function AddOptionIntoList() {

        if ($("#txtOptionName").val() === "") {

            alert("Soru ismi boş olamaz");
            $("#txtOptionName").focus();
            return false;
        }

        if ($("#txtOptionName").val() === "") {

            alert("Option name should not be empty.");
            $("#txtOptionName").focus();
            return false;
        }
            
        if ($("#tblOption tr").length === 4) {

            alert("Aynı anda 4'den fazla soru eklenemez");
            return false;
        }

        var isSuccess = false;
        $.each($("#tblOption tr"),
            function () {
                var listedValue = $(this).find("td:eq(0) input[type=radio]").val();
                if (listedValue === $("#txtOptionName").val()) {
                    alert("Bu isimi kullanan bir soru mevcut");
                    isSuccess = true;
                }
            });
        if (isSuccess === true) {
            return false;
        }

        var OptionName = $("#txtOptionName").val();
        var rowAdded = "<tr><td> <input type='radio' value= " +
            OptionName +
            " name='OptionName' />" +
            OptionName +
            "</td></tr>";

        $("#tblOption").append(rowAdded);
        $("#txtOptionName").focus();
        $("txtOptionName").val('');
    }

</script>

@using (Html.BeginForm("Index", "Admin", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId)
            @Html.DropDownListFor(model => model.CategoryId, Model.ListOfCategory, new { @class = "form-control", @id = "ddCategoryId" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName)
            @Html.TextAreaFor(model => model.QuestionName, new { @class = "form-control",@id="txtQuestionName" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OptionName)
            @Html.TextBoxFor(model => model.OptionName, new { @class = "form-control", @id = "txtOptionName" })
        </div>

        <div class="form-group">
            <input id="btnAddOption" type="button" name="Option" value="Soru Ekle" class="btn btn-success" />
        </div>
    </div>
}
<table id="tblOption" class="table table-condensed" style="width:100%"></table>

<div class="container">
    <div class="form-group">
        <input type="button" id="btnSave" class="btn btn-primary" name="Save" value="Save" />
    </div>
</div>