﻿@model WebAppQuiz.ViewModel.QuizCategoryViewModel   
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
{
    @Html.ValidationSummary(true, null, new { @class="text-danger"})
<div class="container">
    <div class="form-group">
        @Html.LabelFor(model => model.CandidateName)
        @Html.TextBoxFor(model => model.CandidateName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId)
        @Html.DropDownListFor(model => model.CategoryId, Model.ListOfCategory, new { @class = "form-control", @id = "ddCategoryId" })
       @*list of category'i returnde döndürdmediğim için hata veriyormuş.*@
        @*çözüldü 5:00 10/14/2020*@
    </div>

    <input type="submit" name="Submit" value="Submit" class="btn btn-primary" />
</div>
}

