﻿
@{
    ViewBag.Title = "QuestionIndex";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

    })


    function LoadQuestion() {
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'HTML',
            contentType: 'application/json; charset=utf-8',
            url: '/Quiz/UserQuestionAnswer',
            data: QuestionAnswer,
            success: function (data) {
                $("#divQuestionOption".html(data);
            },
             error: function (data) {
                alert(data);
            }
        });
    }
</script>